{% extends "layout.html" %}

{% block body %}



    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="http://onther.iptime.org:5000#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="http://onther.iptime.org:5000#">Reports</a></li>
            <li><a href="http://onther.iptime.org:5000#">Analytics</a></li>
            <li><a href="http://onther.iptime.org:5000#">Export</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="http://onther.iptime.org:5000#">Nav item</a></li>
            <li><a href="http://onther.iptime.org:5000#">Nav item again</a></li>
            <li><a href="http://onther.iptime.org:5000#">One more nav</a></li>
            <li><a href="http://onther.iptime.org:5000#">Another nav item</a></li>
            <li><a href="http://onther.iptime.org:5000#">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="http://onther.iptime.org:5000#">Nav item again</a></li>
            <li><a href="http://onther.iptime.org:5000#">One more nav</a></li>
            <li><a href="http://onther.iptime.org:5000#">Another nav item</a></li>
          </ul>
        </div> -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">골드러시 대시보드</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <!-- <img data-src="holder.js/200x200/auto/sky?text=Hello" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzBEOEZEQiIvPjxnPjx0ZXh0IHg9Ijc0LjA1NDY4NzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6I0ZGRkZGRjtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjIwMHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg=="> -->
              <!-- <img data-src="holder.js/200x200/auto/sky"> -->
              <h2 id="total-machines">가동장비</h2>
              <span class="text-muted">가동장비</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <!-- <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iIzM5REJBQyIvPjxnPjx0ZXh0IHg9Ijc0LjA1NDY4NzUiIHk9IjEwMCIgc3R5bGU9ImZpbGw6IzFFMjkyQztmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0O2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjIwMHgyMDA8L3RleHQ+PC9nPjwvc3ZnPg==" data-holder-rendered="true"> -->
              <h2 id="total-hash">총해시량</h2>
              <span class="text-muted">총해시량</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h2>{{(minedETH)|round(2)}} ETH</h2>
              <span class="text-muted">지난24HR채굴량(ETH)</span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
              <h2>{{(profit)}} 원</h2>
              <span class="text-muted">지난24HR수익(원)</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h2>{{(profit*30)}} 원</h2>
              <span class="text-muted">한달예상수익(원)</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h2>71,707,334 원</h2>
              <span class="text-muted">투자총액(원)</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h2>{{((profit*30/71707334)*100)|round(1)}} %</h2>
              <span class="text-muted">월수익률(%,각종비용제외전)</span>
            </div>
          </div>

          <h2 class="sub-header">마이닝정보</h2>
          <div id="message"></div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>마이너번호</th>
                  <th>이더리움해시값</th>
                  <th>클래식해시값</th>
                  <th>로그보기</th>
                  <!-- <th>재부팅</th> -->
                  <!-- th>온도1</th>
                  <th>온도2</th>
                  <th>온도3</th>
                  <th>온도4</th>
                  <th>온도5</th>
                  <th>온도6</th> -->
                </tr>
              </thead>
              <tbody>
                {% for num in machines %}
                <tr class={{num}}>
                  <td id="miner{{num}}">{{num}}</td>
                  <td id="hash{{num}}"></td>
                  <td id="hashC{{num}}"></td>
                  <td> <a class="btn btn-default" href="{{url_for('log')}}/{{num}}" role="button">로그보기</a></td>
                  <!-- <td><a class="btn btn-danger reboot" id="button{{num}}" role="button">재부팅</a></td> -->
                  <!-- <td id='gpu{{num}}1'></td>
                  <td id='gpu{{num}}2'></td>
                  <td id='gpu{{num}}3'></td>
                  <td id='gpu{{num}}4'></td>
                  <td id='gpu{{num}}5'></td>
                  <td id='gpu{{num}}6'></td> -->
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- <div id="log">hi</div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static', filename='jquery.min.js')}}" ></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}" ></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{{url_for('static', filename='holder.js')}}" ></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename='ie10-viewport-bug-workaround.js')}}" ></script>
    <!-- socketio  -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script type="text/javascript" charset="utf-8">

      $(document).ready(function(){
        // var namespac = '/reset';
        var namespace = '/jsh';
        // var socketReboot = io.connect('http://' + document.domain + ':' + location.port + namespac);


        // 버튼 클릭시 서버로 재부팅 명령
        // $(".reboot").click(function(){
        //
        //   var id = $(this).attr('id');
        //   var result = confirm(id.substring(6)+"번 마이너를 재시작 하시겠습니까? 재시작 전 로그 확인 필수!!");
        //   if(result == true){
        //     // var socket = io.connect('http://' + document.domain + ':' + location.port + namespac);
        //     socketReboot.emit('message', {data: id});
        //   }else{
        //     return;
        //   };
        // });

        // 팝업메시지
        // socketReboot.on("reboot result", function(msg){
        // bootstrap_alert = function () {};
        // bootstrap_alert.warning = function (message, alert, timeout) {
        //   $('<div id="floating_alert" class="alert alert-' + alert +
        //   ' fade in"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'
        //    + message + '&nbsp;&nbsp;</div>').appendTo('body');
        //      setTimeout(function () {
        //        $(".alert").alert('close');
        //      }, timeout);
        // };
        //
        // console.log("socket on!");
        // bootstrap_alert.warning(msg.data, 'success', 8000);
        //
        // });


        socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

        // 카운트다운
        socket.on("timer status", function(msg){
          remain_second = msg.data;
          $("#timer").html(remain_second+" 초 후 업데이트");
        });

        // 10초마다 한번씩 실행되는 마풀허 데이터 요청
        socket.on('miningpoolhub status', function(msg) {
          var total_num = msg.data.length + msg.data2.length;
          console.log(total_num);

          // Holder.addTheme("vine", {text: msg.data.length });
          // Holder.run();
          // console.log(msg.data.length);
          // // var parsedData = JSON.parse(msg.data);
          // console.log(msg.data);

          //ethereum
          var total_hash = 0;
          var miners_list = [];
          for(var miner in msg.data){
            // var minerNum = miner["username"].substring(13);
            var data = msg.data[miner];
            // console.log(msg.data)
            // console.log(data)
            // console.log(data[0]["username"])
            console.log(data["username"])
            var minerNum = data["username"].substring(13);
            miners_list.push(minerNum);
            // console.log(minerNum);
            // console.log("hash"+minerNum);

            $('#hash'+minerNum).html((data["hashrate"]/1000).toFixed(1)+" MH/s").css("background-color","transparent");
            if(data["hashrate"] == 0) {
              total_num -= 1;
              $('#hash'+minerNum).css("background-color", "red");
            };
            total_hash += data["hashrate"]/1000000;
          };

          // console.log(miners_list);


          //ethereum classic
          for(var miner in msg.data2){
            var data = msg.data2[miner];
            var minerNum = data["username"].substring(13);

            $('#hashC'+minerNum).html((data["hashrate"]/1000).toFixed(1)+" MH/s").css("background-color","transparent");
            if(data["hashrate"] == 0) {
              total_num -= 1;
              $('#hashC'+minerNum).css("background-color", "red");
            };

            $('#total-hash').html(total_hash.toFixed(2)+" GH/s");

            total_hash += data["hashrate"]/1000000;
          };
          // console.log(total_num);
          // console.log(msg.data2);
          if(total_num > 35){
            // console.log(total_num+"is bigger than 35");
            if(msg.data.length > msg.data2.length){
              $('#total-machines').html((msg.data.length-1) + " / 34");
              // console.log(msg.data);
            }else{
              $('#total-machines').html(msg.data2.length + " / 34");
            };
          }else{
            $('#total-machines').html(total_num + " / 34");
          };

          // console.log(miners_list);
          for(var i in miners_list){
            var eth_color = $('#hash'+miners_list[i]).css("background-color");
            var classic_color = $("#hashC"+miners_list[i]).css("background-color");

            // console.log(miners_list[i]);
            // console.log(eth_color);
            // console.log(classic_color);
            // donsole.log()
            // console.log(eth_color != classic_color)
            // if(i == "1" ){
            //   console.log($('#hashC'+i).text());
            //   console.log(eth_color);
            //   console.log(classic_color);
            // };
            // if(i == "9" ){
            //   console.log($('#hashC'+i).text() == "");
            //   console.log(eth_color);
            //   console.log(classic_color);
            // };
            // if(i == "12" ){
            //   console.log(eth_color);
            //   console.log(classic_color);
            // };

            if (($('#hashC'+miners_list[i]).text() != "") && ($('#hash'+miners_list[i]).text() != "")){
              if((eth_color == "rgb(255, 0, 0)") && (eth_color != classic_color)){
                $('#hash'+miners_list[i]).css("background-color","transparent");
              }else if((classic_color == "rgb(255, 0, 0)") && (eth_color != classic_color)){
                $('#hashC'+miners_list[i]).css("background-color","transparent");
              };
            };

          };
          miners_list = [];

        });

        // $('#total-hash').html(total_hash.toFixed(2)+" GH/s");
        // $('#total-machines').html(total_num+" / 35");

      });

        // function tailScroll() {
        //     var height = $("#log").get(0).scrollHeight;
        //     $("#log").animate({
        //         scrollTop: height
        //     }, 500);
        // };



      // });
      </script>



<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200" preserveAspectRatio="none" style="visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs></defs><text x="0" y="10" style="font-weight:bold;font-size:10pt;font-family:Arial, Helvetica, Open Sans, sans-serif;dominant-baseline:middle">200x200</text></svg>
{% endblock %}
